---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h1 class="mt-5 text-3xl font-bold">About Colin (aka "cold")</h1>
        <p>
          I like computers whether hard or soft. this means hardware and
          software. You may see me solving CTF challenges or doing other stuff.
        </p>
        <p>
          In CTF, I main reverse engineering, but I dabble in forensics or pwn
          too! I'm especially good at misc stuff and also OSINT.
        </p>
        <p>Feel free to dm me on discord @cold10 if you have any questions</p>
      </div>
    </div>
  </section>
</Layout>
